<h2>Lista dostępnych owoców</h2>
<button (click)="showForm = !showForm">
    {{ showForm ? 'Anuluj' : 'Otwórz formularz' }}
  </button>
  
  <div *ngIf="showForm" style="margin: 20px 0; padding: 15px; border: 1px solid #ccc;">
    <app-fruit-form (fruitAdded)="onFruitAdded()"></app-fruit-form>
  </div>

<ul>
  <li *ngFor="let fruit of fruits">
    <strong>ID:</strong> {{ fruit.id }} | 
    <strong>Nazwa:</strong> {{ fruit.name }} | 
    <strong>Waga:</strong> {{ fruit.weight }} g | 
    
    <strong>Data zbioru:</strong> {{ fruit.harvestDate | date:'mediumDate' }} 
    
    <button (click)="deleteFruit(fruit.id)">Usuń</button>
  </li>
</ul>


<p *ngIf="fruits.length === 0">Brak owoców na liście!</p>
